<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>신난다!</title>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a href="" class="navbar-brand">콜라보 테스트!</a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'photo:photo_list' %}">Photo</a>
                    </li>
                    <li>
                        <a href="{% url 'member:signup' %}">SignUp</a>
                    </li>

                    <li>
                        <a href="{% url 'member:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'member:login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block login %}
{% endblock %}
{% if user.is_authenticated %}
    {% block content %}
    {% endblock %}
{% else %}
    <h3>로그인 하세요</h3>
{% endif %}
</body>
</html>
